<h1>Upload Image</h1>
<%= form_with scope: :image, url: images_path, local: true do |form| %>

  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2>Error in saving image</h2>
      <ul>
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', images_path %>
